/* CTA WIDGET - START*/
.cta-widget-heading {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.cta-widget-txt {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}

.cta-widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

/* CTA WIDGET - END */

/* HIDE TENANT MENU - START */
.fi-tenant-menu {
    display: none !important;
}

/* HIDE TENANT MENU - END */

/* BACKGROUND COLOR - START */
.fi-body {
    background-color: #EDE0D419;
}

/* BACKGROUND COLOR - END */

/* AUTH - START */
.social-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
    width: 100%;
    padding-top: calc(var(--spacing) * 8);
}

.fb-btn {
    background: #1877F2;
    color: white;
}

body:has(.social-wrapper) .fi-logo {
    display: none;
}

.btn-link {
    text-decoration: underline;
    color: var(--gray-950);
    display: flex;
}

.fi-sc-text:has(.btn-forget) {
    display: flex;
    justify-content: flex-end;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 4);
}

.divider:after,
.divider:before {
    content: "";
    display: flex;
    height: 1px;
    width: 30%;
    background: var(--gray-950);
}

.register-info {
    display: flex;
    justify-content: center;
    gap: var(--spacing);
}

.custom-auth-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.custom-auth-wrapper .auth-column {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-auth-wrapper .auth-right {
    align-items: flex-start;
}

.custom-auth-wrapper .auth-left .fi-simple-page-content {
    max-width: 600px;
    margin: 0 auto;
}

.custom-auth-wrapper .auth-right {
    background-image: url(/images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-column-content {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-column-content .title {
    font-size: 32px;
    font-weight: 700;
}

.auth-column-content .sub-title {
    font-size: 24px;
    font-weight: 500;
}

.auth-column-conten .text-bold {
    font-weight: 600;
}


/* Custom lang switcher - START*/
body:has(.custom-auth-wrapper) .fi-dropdown:has(.language-switch-trigger) {
    position: fixed;
    top: 32px;
    right: calc(50vw + 32px);
}

/* Custom lang switcher - END */
/* AUTH - END */

/* MEMORIES - START */
.custom-section {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--spacing) * 8);
}

.memories-table .fi-ta-image img {
    aspect-ratio: 4 / 3;
    width: 33.33%;
    height: auto !important;
    object-fit: contain;
}

.memories-table .fi-ta-image {
    display: flex;
    gap: 14px;
}

.memories-table .fi-ta-record-content>.fi-grid-col {
    background: #FAFAFA;
    border-radius: 12px;
    padding: 14px;
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
    --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color:
        color-mix(in oklab, var(--gray-950) 5%, transparent);
}

.memories-table .fi-ta-record-content .fi-ta-text-item.fi-ta-text {
    font-weight: 600;
}

.memories-table .fi-ta-header-ctn {
    height: 49px;
    background: #FAFAFA;
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
    border-color: var(--gray-200);
    display: flex !important;
}

/* slider */
.memory-slider {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.memory-slider::-webkit-scrollbar {
    display: none;
}

.memory-slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.memory-slide {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    height: 500px;
    scroll-snap-align: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.memory-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* slider */
/* MEMORIES - END */


/* LANG SWITCHER - START */

.language-switch-trigger img,
.fls-flag-only-width img {
    width: 32px;
    border-radius: 4px;
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
    --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color:
        color-mix(in oklab, var(--gray-950) 5%, transparent);
}

.fls-flag-only-width {
    width: fit-content !important;
}

/* LANG SWITCHER - END */